
<form action="{% url 'post_comments' post_id %}" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Post" />
</form>

{% for comment in object_list %}
    <br/>
    <h5>{{comment.user }} at
        {{comment.created_date}}
        <h5/>
        {{ comment.text}}
    <br />

{% endfor %}

{% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="#" class="pagination-link" data-page="{{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="#"  class="pagination-link" data-page="{{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
{% endif %}

