{% extends "blog/base.html" %}

{%load staticfiles%}

{% block extra_head %}
    <script>
    $(document).ready(function () {
        var url = "{% url 'post_comments' post.id %}";
        $("#comments-list").load(url);
         $('#comments').on('click', '.pagination-link', function(){
            var page = $(this).data('page');
            $("#comments-list").load(url+'?page='+page);
        });
    });
    </script>
{% endblock extra_head %}

{% block title %}
    Post details
{% endblock title %}

{% block content %}
{{post.author.email}}
{{post.author.country}}
{{post.author.city}}
{{post.title}}
{{post.text}}
{{post.creation_date}}
{{post.likes}}

<div id="comments">
    Comments:
    <div id="comments-list"></div>
</div>
{% endblock content %}