{% extends "blog/base.html" %}

{%load staticfiles%}

{% block extra_head %}
    <script>
    $(document).ready(function () {
        var url = "{% url 'post_comments' post.id %}";
        $("#comments-list").load(url);
         $('#comments').on('click', '.pagination-link', function(){
            var page = $(this).data('page');
            $("#comments-list").load(url+'?page='+page);
        });
    });
    </script>
{% endblock extra_head %}

{% block title %}
    Post details
{% endblock title %}

{% block content %}

<div class="body">
    <div class="email">
        Email:
        {{post.author.email}}
    </div>
    <div class="country">
         Country:
        {{post.author.country}}
    </div>
    <div class="city">
         City:
        {{post.author.city}}
    </div>
    <div class="title">
        <h4>{{post.title}}</h4>
    </div>
    <div class="text">
        <p>{{post.text}}</p>
    </div>
    <div class="creation-date">
         Creation date:
        {{post.created_date}}
    </div>
    <div class="likes">
         Likes:
        {{post.likes}}
    </div>


    <div id="comments">
        <br/>
        <h4>Comments:</h4>
        <br/>
        <div id="comments-list"></div>
    </div>
</div>

{% endblock content %}