{% extends "blog/base.html" %}

{%load staticfiles%}
{%load likes%}

{% block title %}
    Posts
{% endblock title %}

{% block content %}

<form class="sort-form" action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Search" />
</form>
{% for post in object_list %}
    <div class="post">
        <div>
            <a href="{% url 'post_details' post.id %}">{{ post.title }}</a>
        </div>
        <div>
            {{ post.text }}
        </div>
        <div>
            {% is_liked post request.user as liked %}
            <button class="like {% if liked %}liked{% endif %}" data-post-id="{{post.id}}" type="button">Like {{ post.likes }}</button>
        </div>

    </div>
{% endfor %}



{% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="/?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="/?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}

{% endblock %}